.hamburger-menu {
    width: 24px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    z-index: 30;
  }
  
  .hamburger-line {
    width: 100%;
    border-radius: 25px;
    height: 3px;
    background: white;
    transition: transform 0.3s ease;
  }
  
  .hamburger-line.open {
    background: black;
  }
  
  .hamburger-line:first-child {
    transform-origin: top left;
  }
  
  .hamburger-line:last-child {
    transform-origin: bottom left;
  }
  
  .hamburger-menu.open .hamburger-line:first-child {
    transform: rotate(45deg);
  }
  
  .hamburger-menu.open .hamburger-line:last-child {
    transform: rotate(-45deg);
  }
  
  .hamburger-menu.open .hamburger-line:nth-child(2) {
    opacity: 0;
  }

  .fade-out {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
  