.swiper-container {
    position: relative;
    width: 100%;
    overflow: hidden;
    overflow-anchor: none;
  }
  
  .swiper-wrapper {
    display: flex;
    transition: transform 0.3s ease-in-out;
  }
  
  .swiper-slide {
    flex: 0 0 100%;
  }
  
  .swiper-navigation {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    z-index: 1;
  }
  
  .swiper-navigation .swiper-button-prev,
  .swiper-navigation .swiper-button-next {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 20px;
    color: white;
    visibility: hidden;
    margin: 10px;
  }
  
  .swiper-navigation .swiper-button-prev {
    left: 10px;
  }
  
  .swiper-navigation .swiper-button-next {
    right: 10px;
  }
  
  .swiper-navigation.show-prev .swiper-button-prev,
  .swiper-navigation.show-next .swiper-button-next {
    visibility: visible;
  }
  
  .book-now-button {
    position: absolute;
    bottom: 60px;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 130px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
  }
  
  .pagination-dots {
    display: flex;
    align-items: center;
  }
  
  .pagination-dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: transparent;
    border: 2px solid white;
    margin: 0 5px;
    transition: background-color 0.3s ease-in-out;
  }
  
  .pagination-dot.active {
    background-color: white;
  }
  
  .contact-info {
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    text-align: center;
    color: white;
  }